<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/404.css">
</head>
<body>
	<h1>The page is loading</h1>

	<div class="loader" ></div>
	<h2 class="message">JK, You may be lost...</h2>

</body>
</html>