<% include ./partials/header %>
<div class="container text-center">
		<header class="jumbotron">
			<div class="container">
				<h1>Lets Go Out</h1>
				<p>Todays most popular events</p>
				<button><a href="/bars">Surprise me</a></button>
			</div>
		</header>

	<div class="row text-center" style="display: flex;; flex-wrap: wrap;">
	<!-- PLACEHOLDER  -->
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaGOSWAtW2RKGfLTa--MJmoJN1nUy-xTUjqy_LQAkMvudKrCFCIg">
				<div class="caption">4th Street Live</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaGOSWAtW2RKGfLTa--MJmoJN1nUy-xTUjqy_LQAkMvudKrCFCIg">
				<div class="caption">4th Street Live</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaGOSWAtW2RKGfLTa--MJmoJN1nUy-xTUjqy_LQAkMvudKrCFCIg">
				<div class="caption">4th Street Live</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaGOSWAtW2RKGfLTa--MJmoJN1nUy-xTUjqy_LQAkMvudKrCFCIg">
				<div class="caption">4th Street Live</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaGOSWAtW2RKGfLTa--MJmoJN1nUy-xTUjqy_LQAkMvudKrCFCIg">
				<div class="caption">4th Street Live</div>
			</div>
		</div>
		
	<!-- END PLACEHOLDER -->
	</div>
</div>

<% include ./partials/footer %>