<% include ./partials/header %>
<div class="container text-center">
		<header class="jumbotron">
			<div class="container">
				<h1>Lets Go Out</h1>
				<p>Todays most popular events</p>
				<button><a href="/events">Surprise me</a></button>
			</div>
		</header>

	<div class="row text-center" style="display: flex;; flex-wrap: wrap;">
	<!-- PLACEHOLDER  -->
		<div class="col-md-3">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaGOSWAtW2RKGfLTa--MJmoJN1nUy-xTUjqy_LQAkMvudKrCFCIg">
		</div>
		<div class="col-md-9">
			<h2>TITLE HERE</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<div class="actions">
				<button class="btn btn-lg btn-default">Details</button>
				<button class="btn btn-lg btn-info">Share</button>
			</div>
		</div>
	</div>
	<!-- END PLACEHOLDER -->
	</div>
</div>

<% include ./partials/footer %>