<!DOCTYPE html>
<html>
<head>
	<title>OUT</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
</head>
<body>
	<header>
		<section class="brand"><a href="/">OUT</a></section>
		<section class="links">
			<ul>
				<li><a href="#">Login</a></li>
				<li><a href="#">Register</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</section>
	</header>
	<div class="hero">
		<H1>Welcome To Louisville</H1>
		<a href="/event">Lets Go Out</a>
	</div>
	

</body>
</html>

