<!DOCTYPE html>
<html>
<head>
	<title>OUT</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
</head>
<body>
	<div class="hero">
		<H1>Welcome To Louisville</H1>
		<a href="/event">Lets Go Out</a>
	</div>
	

</body>
</html>

