<% include ../partials/header %>
<div >
	<div>
	<!-- PLACEHOLDER  -->
	<% events.forEach(function(event){ %> 
		<div >
			<img src="<%= event.image %>">
		</div>
		<div >
			<h2><%= event.title %></h2>
			<p><%= event.description %></p>
			<div> 
				<button><a href="event/<%= event._id %>">Details</a></button>
				<button><a>Share</a></button>
			</div>
		</div>
	</div>
	<% }) %>
	<!-- END PLACEHOLDER -->
	</div>
</div>

<% include ../partials/footer %>