<% include ../partials/header%>
	<h1>Create New Event</h1>
	<form action="/event" method="POST">
		<input type="text" name="event[title]" placeholder="Title">
		<input type="text" name="event[image]">
		<textarea name="event[discription]"> Description</textarea>
		<button>Submit</button>
	</form>
<% include ../partials/footer %>