<% include ../partials/header %>
	<h1><%= Event.title %></h1>
	<h1><%= Event.description %></h1>
	<form action="/event/<%= Event._id %>?_method=DELETE" method="POST">
		<button>Delete</button>
	</form>
	<a class="btn btn-default" href="/event/<%= Event._id %>/edit"> Edit</a>
<% include ../partials/footer %>